<launch>
    <arg name="markerSize"      default="1.2"/>    <!-- in m -->
    <arg name="eye"             default="left"/>
    <arg name="ref_frame"       default="world"/>  <!-- leave empty and the pose will be published wrt param parent_name -->
    <arg name="camera_frame"    default="Quadrotor/Sensors/RGBCameraLeft"/> 

    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher" output="screen" >
        <remap from="/camera_info" to="/stereo/$(arg eye)/camera_info" />
        <remap from="/image" to="/stereo/$(arg eye)/image_raw" />
        <param name="image_is_rectified" value="true"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="reference_frame"    value="$(arg ref_frame)"/>   <!-- frame in which the marker pose will be refered -->
        <param name="camera_frame"       value="$(arg camera_frame)"/>
    </node>
</launch>


